/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-dgwltd-picker {
	&__item {
		margin: 0;
		display: flex;
		gap: 1rem;
	}
	&__title {
		margin: 0;
		flex: 1;
	}
	&__featured_image, 
	.components-placeholder {
		aspect-ratio: 1 / 1;
		width: 6rem;
		height: auto;
	}
}