/***********************
Generic styles
***********************/
.dgwltd-button {
    display: inline-block;
    color: var(--wp--preset--color--light);
    background-color: black;
    box-shadow: 0 2px 0 var(--wp--preset--color--dark);
    border: 0;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1em;
    padding: 1rem 1.25rem;
    text-decoration: none;
    &:link,
    &:visited,
    &:active {
      color: var(--wp--preset--color--light);
    }
}

//Editor padding
//Becuase we use useRootPaddingAwareAlignments and padding false to allow for full width vblocks with not padding we need to add this again for the editor padding on smaller screens where the container is less than the content contentSize
.editor-styles-wrapper .has-global-padding, 
.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    padding-inline: 1rem  !important;
}

//Editor margin
.editor-styles-wrapper > * {
  margin-left: var(--wp--custom--spacing--outer) !important;
  margin-right: var(--wp--custom--spacing--outer) !important;
}

//Remove border so it doesn't look weird when a different colour is used
.wp-block-button__link {
  border: 0 !important;
}


/***********************
Blocks
***********************/
[data-type*='acf/dgwltd-'] {
  box-sizing: border-box;
  max-width: 100%;
  width: clamp(16rem, 95vw, 70rem);
  border: 1px solid var(--wp--preset--color--dark);
  padding: var(--wp--custom--spacing--outer); //Allow us to focus on the content
  border-radius: 0;
  background-color:white;
  .wp-block {
    max-width: 100%;
  }
  .wp-block-button {
    margin-left:0;
  }
  .acf-block-preview {
    padding: 0;
  }
  .acf-innerblocks-container {
    > h1, 
    > h2, 
    > h3, 
    > h4, 
    > h5, 
    > h6 {
      margin-top: 0;
      &.has-background {
        padding: 0;
      }
    }
  }
}


//Hero
[data-type='acf/dgwltd-hero'] { 
  .has-background, 
  .has-image {
    .acf-innerblocks-container {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }
  .has-video {
    .acf-innerblocks-container {
      padding-bottom: 0;
    }
    .dgwltd-hero__play {
      z-index: 3;
      position: relative;
      margin: var(--wp--custom--spacing--medium) auto 0;
      max-width: 70rem;
      .dgwltd-button {
        display: inline-flex;
        justify-content: space-between;
        background-color: transparent;
        border: 2px solid var(--wp--preset--color--dark);
        text-decoration: none;
        box-shadow: none;
        svg {
          width: 1em;
          height: 1em;
          margin-left: 1ch;
          fill: inherit;
        }
      }
    }
  }
  &.has-light-color {
    .dgwltd-hero__play .dgwltd-button {
      color: var(--wp--preset--color--light);
      border-color: var(--wp--preset--color--light);
      svg {
        fill: var(--wp--preset--color--light);
      }
    }
  }
  .popup-modal {
    display: none;
  }
}

//Full width
[data-type='acf/dgwltd-hero'], 
[data-type='acf/dgwltd-banner'], 
[data-type='acf/dgwltd-promo-card'], 
[data-type='acf/dgwltd-content'] {
  &.alignfull {
    width: clamp(16rem, 95vw, 100%);
    .acf-innerblocks-container {
      max-width: 70rem;
      margin: 0 auto;
    }
  }
}

//Hero & Feature
[data-type='acf/dgwltd-hero'], 
[data-type='acf/dgwltd-banner'] {
  > .has-background, 
  > .has-image {
    position: relative;
    padding: 1.25rem;
    background-size: cover;
    &:before {
      content: "";
      position: absolute;
      z-index:2;
      top:0;
      right:0;
      bottom:0;
      left: 0;
      width:100%;
      height:100%;
      background-color: inherit;
    }
    .acf-innerblocks-container {
      z-index:3;
      position: relative;
    }
  }
  > .has-image {
    &:before {
      background-color: white;
      opacity: 0.5;
    }
    .block__background {
      z-index:1;
    }
  }
}

//Content
[data-type='acf/dgwltd-promo-card'] {
  .dgwltd-section-title {
    text-decoration: none;
  } 
  .has-image, 
  .has-embed,
  .has-video {
    .dgwltd-promo-card__inner {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      gap: 1.25rem;
      .wp-block-heading {
        font-size: var(--wp--preset--font-size--5);
      }
      .dgwltd-promo-card__content {
        flex-basis: 40%
      }
    }
    &[data-state='reversed'] {
      .dgwltd-promo-card__inner {
        flex-direction: row-reverse;
      }
    }
  }
  .has-image {
    .dgwltd-promo-card__inner {
      .dgwltd-promo-card__image {
        img {
          width: 100%;
        }
      }
    }
    .dgwltd-promo-card__content {
      padding: 2rem;
    }
  }
  .has-embed,
  .has-video {
    .dgwltd-promo-card__inner {
      .dgwltd-promo-card__video {
        video {
          width: 100%;
        }
      }
    }
    
  }
  &.is-style-light {
    .dgwltd-promo-card__content {
        background-color: var(--wp--preset--color--dark);
        color: var(--wp--preset--color--light);
    }
  }
  &.is-style-dark {
    background-color: var(--wp--preset--color--dark);
    .dgwltd-promo-card__content {
        background-color: var(--wp--preset--color--light);
        color: var(--wp--preset--color--dark);
    }
  }
  &.is-style-dark-neon {
      background-color: var(--wp--preset--color--dark);
      .dgwltd-promo-card__content {
        background-color: var(--wp--preset--color--neon);
        .wp-element-button {
          background-color: transparent;
          border-color: var(--wp--preset--color--dark) !important;
        }
      }
  }
}

//Content
[data-type='acf/dgwltd-content'] {

  .dgwltd-content-block__content {
    padding:1rem;
  }
  
  .has-image {

    padding:0;

    .dgwltd-content-block__inner {
      padding: 0;
      display: flex;
      flex-direction: row;
    }
    
    .dgwltd-content-block__content {
      padding:20px;
      flex-basis: 50%;
    }
    .dgwltd-content-block__image {
      margin: 0;
      flex-basis: 50%;
    }
    .frame {
      aspect-ratio: 1 / 1;
      height: 100%;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: 0;
    }
    
  }

  [data-state='reversed'] {
    display: flex;
    flex-direction: column-reverse;
    .dgwltd-content-block__image {
      order: 1;
    }
    .dgwltd-content-block__content {
      order: 2;
    }
  }

}

//Anchor
[data-type='acf/dgwltd-anchor'] {
  border: 0;
  padding: 0;
}

//Breadcrumbs
[data-type='acf/dgwltd-breadcrumbs'] {
  ol.govuk-breadcrumbs__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.25rem;
    .govuk-breadcrumbs__list-item {
      display: none;
    }
    &:after {
      content: "Page 1 > Page 2 > Page 3...";
    }
    
  }
  .has-home {
    ol.govuk-breadcrumbs__list {
      &:before {
        content: "Home > ";
      }
    }   
  }
}


//Background image
.block__background {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  figure {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

//Block style varients - styles in block.json
.is-style-monochrome {
  .block__background img {
    filter: grayscale(100%) contrast(200%);
  }
  .dgwltd-content__image img {
    filter: grayscale(100%) contrast(200%);
  }
}
